[submodule "adapters"]
	path = adapters
	url = rp@ridiculouspower.com:rpersistence/adapters
[submodule "modules"]
	path = modules
	url = rp@ridiculouspower.com:rpersistence/modules
[submodule "configuration"]
	path = configuration
	url = rp@ridiculouspower.com:rpersistence/configuration
[submodule "cursor"]
	path = cursor
	url = ./cursor/
[submodule "persistence"]
	path = persistence
	url = rp@ridiculouspower.com:rpersistence/persistence
[submodule "port"]
	path = port
	url = ./port
[submodule "indexing"]
	path = indexing
	url = rp@ridiculouspower.com:rpersistence/indexing
[submodule "exceptions"]
	path = exceptions
	url = ./exceptions/
[submodule "distribution"]
	path = distribution
	url = rp@ridiculouspower.com:rpersistence/distribution
[submodule "stress"]
	path = stress
	url = ./stress/
[submodule "object"]
	path = object
	url = ./object/
