[submodule "adapters"]
	path = adapters
	url = rp@ridiculouspower.com:rpersistence/adapters
[submodule "versioning"]
	path = versioning
	url = rp@ridiculouspower.com:rpersistence/versioning
[submodule "sharding"]
	path = sharding
	url = rp@ridiculouspower.com:rpersistence/sharding
